:root {
	--bg-color: rgb(20, 20, 20);
	--card-color: rgb(23, 23, 23);
}

.beatforge-landing-header-responsive {
	font-size: max(30px, min(5vw, 48px));
}

.beatforge-landing-description-responsive {
	font-size: max(15px, min(2vw, 18px));
}

.beatforge-landing-terminal-window-wrapper:hover
	.beatforge-landing-terminal-window-bullets
	span:first-child {
	background: #ee6a5f;
	border: 0.5px solid #ce5347;
}

.beatforge-landing-terminal-window-wrapper:hover
	.beatforge-landing-terminal-window-bullets
	span:nth-child(2) {
	background: #f5bd4f;
	border: 0.5px solid #d6a243;
}

.beatforge-landing-terminal-window-wrapper:hover
	.beatforge-landing-terminal-window-bullets
	span:nth-child(3) {
	background: #61c454;
	border: 0.5px solid #58a942;
}

.beatforge-landing-terminal-window-bullets span {
	width: 12px;
	height: 12px;
	border-radius: 50%;
	margin: 4px;

	transition: 0.5s ease;
}

.beatforge-landing-terminal-window-wrapper .beatforge-landing-terminal-window-bullets span {
	background: #ffffff55;
	border-color: #ffffff55;
}

.beatforge-landing-terminal-window-wrapper:hover {
}

.beatforge-landing-terminal-window-wrapper {
	transition: 0.35s ease;
}

@keyframes hue-rotate {
	0% {
		filter: hue-rotate(0deg);
	}

	50% {
		filter: hue-rotate(360deg);
	}

	100% {
		filter: hue-rotate(0deg);
	}
}

.hue-rotate-animation {
	animation: hue-rotate 9s linear infinite forwards;
}

.landing-gradient-eyebrow {
	background: linear-gradient(0deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)),
		linear-gradient(90.01deg, #e59cff 0.01%, #ba9cff 50.01%, #9cb2ff 100%);
	background-blend-mode: normal, screen;
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;

	isolation: isolate;
	overflow: hidden;
	align-items: center;
	border-radius: 32px;
	box-shadow: inset 0 -7px 11px #a48fff1f;
	display: flex;
	padding: 6px 14px 6px 15px;
	position: relative;
	width: -moz-max-content;
	width: max-content;
}

.landing-gradient-eyebrow:after {
	background: linear-gradient(
		90.01deg,
		rgba(229, 156, 255, 0.24) 0.01%,
		rgba(186, 156, 255, 0.24) 50.01%,
		rgba(156, 178, 255, 0.24) 100%
	);
	border-radius: inherit;
	content: '';
	inset: 0;
	mask:
		linear-gradient(#afff 0 0) content-box,
		linear-gradient(#afff 0 0);
	mask-composite: xor;
	mask-composite: exclude;
	padding: 2px;
	pointer-events: none;
	position: absolute;
}

@keyframes bentobox-transform {
	from {
		transform: translateY(16px);
		filter: brightness(200%) saturate(0.5);
		opacity: 0.1;
	}

	to {
		transform: none;
		opacity: 1;
	}
}

.beatforge-landing-bentobox-animated
	.beatforge-landing-bentobox-row-first
	> .beatforge-landing-bentobox-item:nth-child(1) {
	animation: bentobox-transform 0.4s linear both;
	animation-delay: 0.34s;
	animation-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
}

.beatforge-landing-bentobox-animated
	.beatforge-landing-bentobox-row-first
	> .beatforge-landing-bentobox-item:nth-child(2) {
	animation: bentobox-transform 0.3s linear both;
	animation-delay: 0.37s;
	animation-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
}

.beatforge-landing-bentobox-animated
	.beatforge-landing-bentobox-row-second
	> .beatforge-landing-bentobox-item:nth-child(1) {
	animation: bentobox-transform 0.3s linear both;
	animation-delay: 0.4s;
	animation-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
}

.beatforge-landing-bentobox-animated
	.beatforge-landing-bentobox-row-third
	> .beatforge-landing-bentobox-item:nth-child(1) {
	animation: bentobox-transform 0.3s linear both;
	animation-delay: 0.43s;
	animation-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
}

.beatforge-landing-bentobox-animated
	.beatforge-landing-bentobox-row-third
	> .beatforge-landing-bentobox-item:nth-child(2) {
	animation: bentobox-transform 0.3s linear both;
	animation-delay: 0.46s;
	animation-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
}

#cards:hover > .beatforge-landing-bentobox-item::after {
	opacity: 1;
}

.beatforge-landing-bentobox-item:hover::before {
	opacity: 1;
}

.beatforge-landing-bentobox-item::before,
.beatforge-landing-bentobox-item::after {
	border-radius: inherit;
	content: '';
	height: 100%;
	left: 0px;
	opacity: 0;
	position: absolute;
	top: 0px;
	transition: opacity 500ms;
	width: 100%;
	pointer-events: none;
}

.beatforge-landing-bentobox-item::before {
	background: radial-gradient(
		1600px circle at var(--mouse-x) var(--mouse-y),
		rgba(255, 255, 255, 0.06),
		transparent 40%
	);
	z-index: 3;
}

.beatforge-landing-bentobox-item::after {
	background: radial-gradient(
		1200px circle at var(--mouse-x) var(--mouse-y),
		rgba(255, 255, 255, 0.4),
		transparent 40%
	);
	z-index: 1;
}

.beatforge-landing-bentobox-item > .beatforge-landing-bentobox-item-content {
	background-color: var(--card-color);
	border-radius: inherit;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	inset: 2px;
	padding: 10px;
	position: absolute;
	z-index: 2;
}

.copy-button > * {
	grid-area: 1/1/2/2;
}

.copy-button:has(.copy-button-active) {
	background: #123017;
	color: #4fd264;
}

.gradientcta,
.gradientcta:before {
	--ship-start-gradient: #ff4d4d;
	--ship-end-gradient: #f9cb28;

	--start-color: var(--ship-start-gradient);
	--end-color: var(--ship-end-gradient);

	background-image: linear-gradient(165deg, var(--start-color), var(--end-color));
}

@keyframes hue-rotate-gradient {
	0% {
		filter: hue-rotate(0deg) blur(12px);
	}

	50% {
		filter: hue-rotate(360deg) blur(12px);
	}

	100% {
		filter: hue-rotate(0deg) blur(12px);
	}
}

.gradientcta:before {
	border: 12px solid transparent;
	background-clip: padding-box;
	content: '';
	filter: blur(12px);
	height: 100%;
	opacity: 0.9;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	z-index: 2;

	animation: hue-rotate-gradient 9s linear infinite forwards;
}

.gradientcta {
	border-radius: 9999px;
	content: '';
	height: 100%;
	position: absolute;
	width: 100%;
	z-index: 3;
	animation: hue-rotate 9s linear infinite forwards;
}

.beatforge-landing-conversion-sections {
	background-image: radial-gradient(circle, #ffffff14 1px, transparent 1px);
	background-size: 24px 24px;
}

.beatforge-team-section {
	/* background-image: radial-gradient(circle, #ffffff14 2px, transparent 2px);
	background-size: 32px 36px; */
}

/* @keyframes blink {
	0% {
		opacity: 0;
	}

	50% {
		opacity: 1;
	}
}

.blinking-cursor {
	animation: blink 1s step-end infinite;
} */

.terminal-row {
	position: relative;
}

.blinking-cursor-animated:before {
	position: absolute;
	top: 0;
	content: '';
	height: 100%;
	left: 0;
	transition: transform 1s;
	transform-origin: 0% 50%;
	background: white;
}

.blinking-cursor-first.blinking-cursor-animated:before {
	animation: effect-block 1s cubic-bezier(0.19, 1, 0.22, 1) forwards;
}

.blinking-cursor-second.blinking-cursor-animated:before {
	animation: effect-block 1s cubic-bezier(0.19, 1, 0.22, 1) forwards;
	animation-delay: 1s;
}

@keyframes effect-block {
	0% {
		left: 0;
		width: 0%;
	}
	50% {
		left: 0;
		width: 100%;
	}
	100% {
		left: 100%;
		width: 12px;
	}
}

@keyframes term-reveal {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.beatforge-terminal-line-animated {
	opacity: 0;
	animation: term-reveal 0s linear both;
	animation-delay: 0.5s;
}

.beatforge-terminal-line-animated.beatforge-terminal-line-second {
	animation-delay: 1.5s;
}

.beatforge-page-navbar:before {
	background: radial-gradient(
		62.87% 100% at 50% 100%,
		rgba(255, 255, 255, 0.12) 0%,
		rgba(255, 255, 255, 0) 100%
	);
	bottom: 0;
	content: '';
	height: 1px;
	left: 0;
	position: absolute;
	width: 100%;
}

.beatforge-landing-bentobox-item {
	backdrop-filter: blur(2px);
}

.beatforge-landing-client-featurecard:after {
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.06) 100%);
	content: '';
	height: 100%;
	left: 0;
	opacity: 0;
	pointer-events: none;
	position: absolute;
	top: 0;
	transition: 0.2s cubic-bezier(0.6, 0.6, 0, 1) opacity;
	width: 100%;
}

.beatforge-landing-client-featurecard:nth-child(n + 6)::after {
	background: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.06) 100%);
}

.beatforge-landing-client-featurecard:before {
	/* background-color: #ffffff3d; */
	background: #ffffff6d;
	content: '';
	display: block;
	height: 16px;
	left: 0;
	position: absolute;
	top: 76px;
	z-index: 10;
	width: 1px;
}

.features-gridlines {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	height: 100%;
	justify-content: space-between;
	pointer-events: none;
	position: absolute;
	top: 0;
	width: 100%;
}

.features-gridlines div {
	height: 100%;
	width: 1px;
}

.features-gridlines div:nth-child(odd) {
	background: linear-gradient(
		180deg,
		rgba(255, 255, 255, 0.12) -0.89%,
		rgba(255, 255, 255, 0) 100%
	);
}

.features-gridlines div:nth-child(even) {
	background: linear-gradient(0, rgba(255, 255, 255, 0.12) -0.89%, rgba(255, 255, 255, 0) 100%);
}

.features-gridlines div:first-child {
	display: none;
}

.features-gridlines div:last-child {
	/* background: linear-gradient(
		90deg,
		rgba(255, 255, 255, 0) -0.89%,
		rgba(255, 255, 255, 0.08) 24.33%,
		rgba(255, 255, 255, 0.08) 49.55%,
		rgba(255, 255, 255, 0.08) 74.78%,
		rgba(255, 255, 255, 0) 100%
	);
	height: 1px;
	left: 0;
	position: absolute;
	top: 53.5%;
	transform: translateY(-50%);
	width: 100%;
	opacity: 0.7; */
	display: none;
}

.beatforge-landing-client-featurecard:hover:after {
	opacity: 1;
}

.team-section.rising-stars {
	height: 260px;
	left: 50%;
	-webkit-mask-image: linear-gradient(
		180deg,
		rgba(217, 217, 217, 0) 0%,
		rgba(217, 217, 217, 0.8) 25%,
		#d9d9d9 50%,
		rgba(217, 217, 217, 0.8) 75%,
		rgba(217, 217, 217, 0) 100%
	);
	mask-image: linear-gradient(
		180deg,
		rgba(217, 217, 217, 0) 0%,
		rgba(217, 217, 217, 0.8) 25%,
		#d9d9d9 50%,
		rgba(217, 217, 217, 0.8) 75%,
		rgba(217, 217, 217, 0) 100%
	);
	-webkit-mask-size: cover;
	mask-size: cover;
	position: absolute;
	top: -50%;
	transform: translate(-50%);
	width: 1220px;
}

.rising-stars div:nth-child(1) {
	animation-duration: 100s !important;
	box-shadow:
		772px 13286px #FC4F4F,
		1911px 643px #FC4F4F,
		716px 1875px #FC4F4F,
		923px 735px #FC4F4F,
		539px 1524px #FC4F4F,
		24px 1176px #FC4F4F,
		1339px 1104px #FC4F4F,
		403px 514px #FC4F4F,
		485px 1531px #FC4F4F,
		888px 1184px #FC4F4F,
		1266px 1670px #FC4F4F,
		1724px 355px #FC4F4F,
		1872px 1093px #FC4F4F,
		610px 485px #FC4F4F,
		1953px 554px #FC4F4F,
		613px 1848px #FC4F4F,
		1154px 769px #FC4F4F,
		1871px 428px #FC4F4F,
		568px 733px #FC4F4F,
		1077px 616px #FC4F4F,
		1648px 165px #FC4F4F,
		279px 934px #FC4F4F,
		1910px 942px #FC4F4F,
		1428px 1895px #FC4F4F,
		11px 365px #FC4F4F,
		113px 30px #FC4F4F,
		226px 465px #FC4F4F,
		1336px 538px #FC4F4F,
		162px 1229px #FC4F4F,
		914px 1890px #FC4F4F,
		1473px 1430px #FC4F4F,
		647px 1137px #FC4F4F,
		1966px 816px #FC4F4F,
		1233px 857px #FC4F4F,
		670px 1854px #FC4F4F,
		108px 1910px #FC4F4F,
		60px 1109px #FC4F4F,
		1381px 1496px #FC4F4F,
		1299px 1150px #FC4F4F,
		1811px 1577px #FC4F4F,
		486px 1108px #FC4F4F,
		580px 402px #FC4F4F,
		444px 294px #FC4F4F,
		850px 563px #FC4F4F,
		1300px 46px #FC4F4F,
		953px 1958px #FC4F4F,
		1948px 1725px #FC4F4F,
		776px 1532px #FC4F4F,
		1780px 6px #FC4F4F,
		1770px 1213px #FC4F4F,
		493px 54px #FC4F4F,
		766px 633px #FC4F4F,
		421px 1737px #FC4F4F,
		403px 1088px #FC4F4F,
		272px 227px #FC4F4F,
		1279px 1588px #FC4F4F,
		1053px 631px #FC4F4F,
		1903px 1082px #FC4F4F,
		1419px 968px #FC4F4F,
		429px 1092px #FC4F4F,
		769px 844px #FC4F4F,
		476px 1946px #FC4F4F,
		62px 1576px #FC4F4F,
		343px 475px #FC4F4F,
		668px 331px #FC4F4F,
		927px 1197px #FC4F4F,
		106px 1872px #FC4F4F,
		1103px 1849px #FC4F4F,
		328px 1773px #FC4F4F,
		1183px 507px #FC4F4F,
		1998px 1821px #FC4F4F,
		1774px 1112px #FC4F4F,
		1774px 500px #FC4F4F,
		1103px 1738px #FC4F4F,
		1664px 1235px #FC4F4F,
		1155px 1057px #FC4F4F,
		1980px 1303px #FC4F4F,
		330px 1046px #FC4F4F,
		935px 1621px #FC4F4F,
		1322px 1521px #FC4F4F,
		1659px 1868px #FC4F4F,
		288px 166px #FC4F4F,
		42px 585px #FC4F4F,
		489px 323px #FC4F4F,
		849px 817px #FC4F4F,
		1866px 1560px #FC4F4F,
		1236px 1557px #FC4F4F,
		731px 1410px #FC4F4F,
		1513px 612px #FC4F4F,
		24px 121px #FC4F4F,
		1943px 575px #FC4F4F,
		319px 1023px #FC4F4F,
		469px 1209px #FC4F4F,
		524px 1690px #FC4F4F,
		179px 140px #FC4F4F,
		679px 25px #FC4F4F,
		1955px 16px #FC4F4F,
		1907px 424px #FC4F4F,
		1166px 613px #FC4F4F,
		166px 1346px #FC4F4F,
		1458px 153px #FC4F4F,
		1428px 221px #FC4F4F,
		1663px 1695px #FC4F4F,
		864px 971px #FC4F4F,
		104px 416px #FC4F4F,
		1254px 1604px #FC4F4F,
		1380px 705px #FC4F4F,
		1548px 1967px #FC4F4F,
		1181px 202px #FC4F4F,
		1949px 1829px #FC4F4F,
		1848px 1578px #FC4F4F,
		21px 1256px #FC4F4F,
		1865px 1567px #FC4F4F,
		664px 78px #FC4F4F,
		1263px 1634px #FC4F4F,
		1778px 1066px #FC4F4F,
		758px 1449px #FC4F4F,
		959px 1774px #FC4F4F,
		584px 1761px #FC4F4F,
		1993px 722px #FC4F4F,
		157px 927px #FC4F4F,
		1773px 1576px #FC4F4F,
		1013px 764px #FC4F4F,
		467px 1354px #FC4F4F,
		883px 1139px #FC4F4F,
		1101px 346px #FC4F4F,
		1170px 954px #FC4F4F,
		599px 391px #FC4F4F,
		859px 1334px #FC4F4F,
		248px 1115px #FC4F4F,
		1503px 1483px #FC4F4F,
		1898px 1736px #FC4F4F,
		797px 138px #FC4F4F,
		476px 1350px #FC4F4F,
		788px 5px #FC4F4F,
		821px 1811px #FC4F4F,
		1610px 406px #FC4F4F,
		1860px 546px #FC4F4F,
		1801px 1676px #FC4F4F,
		977px 1479px #FC4F4F,
		410px 312px #FC4F4F,
		1810px 1715px #FC4F4F,
		1098px 231px #FC4F4F,
		77px 978px #FC4F4F,
		1018px 1669px #FC4F4F,
		1171px 101px #FC4F4F,
		380px 1447px #FC4F4F,
		339px 1116px #FC4F4F,
		137px 1778px #FC4F4F,
		1530px 608px #FC4F4F,
		1488px 1678px #FC4F4F,
		840px 647px #FC4F4F,
		1066px 1957px #FC4F4F,
		1389px 1721px #FC4F4F,
		994px 288px #FC4F4F,
		1196px 1188px #FC4F4F,
		62px 1452px #FC4F4F,
		1332px 570px #FC4F4F,
		123px 68px #FC4F4F,
		658px 1976px #FC4F4F,
		1669px 853px #FC4F4F,
		1860px 591px #FC4F4F,
		1176px 1649px #FC4F4F,
		1693px 112px #FC4F4F,
		1016px 854px #FC4F4F,
		549px 1873px #FC4F4F,
		134px 844px #FC4F4F,
		1708px 1284px #FC4F4F,
		741px 1211px #FC4F4F,
		753px 1029px #FC4F4F,
		1597px 1908px #FC4F4F,
		1287px 1545px #FC4F4F,
		763px 542px #FC4F4F,
		362px 1540px #FC4F4F,
		1258px 1814px #FC4F4F,
		530px 838px #FC4F4F,
		692px 1941px #FC4F4F,
		1444px 1177px #FC4F4F,
		671px 1787px #FC4F4F,
		1048px 1431px #FC4F4F,
		1923px 471px #FC4F4F,
		253px 200px #FC4F4F,
		1405px 1871px #FC4F4F,
		1571px 174px #FC4F4F,
		1077px 677px #FC4F4F,
		293px 590px #FC4F4F,
		880px 1185px #FC4F4F,
		1645px 1365px #FC4F4F,
		1674px 126px #FC4F4F,
		1817px 308px #FC4F4F,
		1635px 280px #FC4F4F,
		1657px 1826px #FC4F4F,
		220px 595px #FC4F4F,
		942px 1704px #FC4F4F,
		1869px 915px #FC4F4F,
		1222px 894px #FC4F4F,
		898px 1815px #FC4F4F,
		1511px 381px #FC4F4F,
		1573px 1589px #FC4F4F,
		1620px 591px #FC4F4F,
		1028px 120px #FC4F4F,
		1528px 1922px #FC4F4F,
		98px 71px #FC4F4F,
		929px 891px #FC4F4F,
		1913px 362px #FC4F4F,
		1786px 765px #FC4F4F,
		1083px 1078px #FC4F4F,
		1737px 305px #FC4F4F,
		864px 1272px #FC4F4F,
		620px 1302px #FC4F4F,
		1514px 1031px #FC4F4F,
		613px 1732px #FC4F4F,
		563px 1306px #FC4F4F,
		155px 1318px #FC4F4F,
		1918px 758px #FC4F4F,
		780px 505px #FC4F4F,
		1617px 405px #FC4F4F,
		1164px 1282px #FC4F4F,
		766px 907px #FC4F4F,
		507px 1354px #FC4F4F,
		366px 1911px #FC4F4F,
		1284px 984px #FC4F4F,
		1258px 1092px #FC4F4F,
		159px 661px #FC4F4F,
		1488px 1132px #FC4F4F,
		1514px 1730px #FC4F4F,
		1588px 1953px #FC4F4F,
		1252px 1292px #FC4F4F,
		267px 755px #FC4F4F,
		1732px 1195px #FC4F4F,
		939px 1175px #FC4F4F,
		663px 979px #FC4F4F,
		641px 977px #FC4F4F,
		1528px 1100px #FC4F4F,
		285px 898px #FC4F4F,
		1454px 307px #FC4F4F,
		1987px 239px #FC4F4F,
		1175px 1859px #FC4F4F,
		766px 1104px #FC4F4F,
		1461px 1088px #FC4F4F,
		1914px 492px #FC4F4F,
		1727px 456px #FC4F4F,
		1195px 1300px #FC4F4F,
		1411px 137px #FC4F4F,
		632px 1616px #FC4F4F,
		1133px 674px #FC4F4F,
		1429px 583px #FC4F4F,
		850px 1361px #FC4F4F,
		213px 1426px #FC4F4F,
		1318px 1678px #FC4F4F,
		457px 1940px #FC4F4F,
		410px 712px #FC4F4F,
		565px 597px #FC4F4F,
		677px 316px #FC4F4F,
		76px 568px #FC4F4F,
		1654px 1104px #FC4F4F,
		360px 409px #FC4F4F,
		1121px 1068px #FC4F4F,
		1510px 989px #FC4F4F,
		1601px 869px #FC4F4F,
		813px 1284px #FC4F4F,
		529px 1070px #FC4F4F,
		1795px 1390px #FC4F4F,
		517px 1966px #FC4F4F,
		547px 169px #FC4F4F,
		1127px 1728px #FC4F4F,
		954px 1969px #FC4F4F,
		974px 1726px #FC4F4F,
		1721px 1597px #FC4F4F,
		1723px 858px #FC4F4F,
		1361px 733px #FC4F4F,
		1726px 904px #FC4F4F,
		1921px 1773px #FC4F4F,
		1054px 1211px #FC4F4F,
		769px 1063px #FC4F4F,
		1926px 677px #FC4F4F,
		1345px 52px #FC4F4F,
		349px 328px #FC4F4F,
		88px 228px #FC4F4F,
		66px 1658px #FC4F4F,
		1897px 1885px #FC4F4F,
		1092px 400px #FC4F4F,
		1065px 1128px #FC4F4F,
		1038px 1733px #FC4F4F,
		391px 369px #FC4F4F,
		1310px 1264px #FC4F4F,
		1600px 288px #FC4F4F,
		402px 1007px #FC4F4F,
		1758px 1772px #FC4F4F,
		596px 779px #FC4F4F,
		1824px 1373px #FC4F4F,
		1133px 123px #FC4F4F,
		1098px 1263px #FC4F4F,
		170px 21px #FC4F4F,
		1510px 910px #FC4F4F,
		161px 1699px #FC4F4F,
		177px 1322px #FC4F4F,
		1180px 1226px #FC4F4F,
		470px 88px #FC4F4F,
		358px 1626px #FC4F4F,
		787px 1468px #FC4F4F,
		1656px 185px #FC4F4F,
		1307px 28px #FC4F4F,
		561px 786px #FC4F4F,
		1220px 449px #FC4F4F,
		1732px 1370px #FC4F4F,
		1597px 797px #FC4F4F,
		468px 918px #FC4F4F,
		321px 416px #FC4F4F,
		443px 42px #FC4F4F,
		984px 1356px #FC4F4F,
		1713px 656px #FC4F4F,
		44px 261px #FC4F4F,
		822px 1830px #FC4F4F,
		1886px 139px #FC4F4F,
		1574px 679px #FC4F4F,
		1508px 1091px #FC4F4F,
		286px 1866px #FC4F4F,
		909px 1566px #FC4F4F,
		929px 552px #FC4F4F,
		505px 642px #FC4F4F,
		1405px 316px #FC4F4F,
		434px 1345px #FC4F4F,
		1602px 1751px #FC4F4F,
		1489px 117px #FC4F4F,
		1582px 270px #FC4F4F,
		1252px 445px #FC4F4F,
		568px 1200px #FC4F4F,
		1691px 222px #FC4F4F,
		300px 389px #FC4F4F,
		1156px 1084px #FC4F4F,
		875px 757px #FC4F4F,
		1287px 1682px #FC4F4F,
		786px 261px #FC4F4F,
		719px 1390px #FC4F4F,
		1557px 1982px #FC4F4F,
		816px 1325px #FC4F4F,
		1265px 851px #FC4F4F,
		1897px 491px #FC4F4F,
		847px 8px #FC4F4F,
		1625px 218px #FC4F4F,
		1127px 506px #FC4F4F,
		1585px 1670px #FC4F4F,
		1136px 525px #FC4F4F,
		1690px 1456px #FC4F4F,
		694px 1894px #FC4F4F,
		1209px 1984px #FC4F4F,
		1288px 1762px #FC4F4F,
		1394px 1169px #FC4F4F,
		1723px 1952px #FC4F4F,
		379px 380px #FC4F4F,
		938px 1557px #FC4F4F,
		569px 509px #FC4F4F,
		850px 139px #FC4F4F,
		960px 215px #FC4F4F,
		364px 498px #FC4F4F,
		1896px 695px #FC4F4F,
		1017px 855px #FC4F4F,
		1831px 926px #FC4F4F,
		1797px 1125px #FC4F4F,
		1639px 1862px #FC4F4F,
		6px 1111px #FC4F4F,
		1520px 992px #FC4F4F,
		622px 248px #FC4F4F,
		1014px 1173px #FC4F4F,
		232px 1034px #FC4F4F,
		1578px 1716px #FC4F4F,
		1447px 1409px #FC4F4F,
		1963px 575px #FC4F4F,
		1111px 1236px #FC4F4F,
		437px 798px #FC4F4F,
		1439px 841px #FC4F4F,
		1888px 434px #FC4F4F,
		1228px 1790px #FC4F4F,
		443px 146px #FC4F4F,
		705px 932px #FC4F4F,
		511px 69px #FC4F4F,
		391px 1413px #FC4F4F,
		1519px 452px #FC4F4F,
		1959px 1072px #FC4F4F,
		799px 945px #FC4F4F,
		1579px 1642px #FC4F4F,
		1281px 114px #FC4F4F,
		1712px 69px #FC4F4F,
		465px 649px #FC4F4F,
		1966px 1296px #FC4F4F,
		51px 86px #FC4F4F,
		728px 218px #FC4F4F,
		1550px 212px #FC4F4F,
		1611px 994px #FC4F4F,
		1353px 1937px #FC4F4F,
		879px 859px #FC4F4F,
		1880px 1598px #FC4F4F,
		305px 413px #FC4F4F,
		1013px 132px #FC4F4F,
		929px 525px #FC4F4F,
		956px 262px #FC4F4F,
		1098px 1533px #FC4F4F,
		1952px 1862px #FC4F4F,
		1614px 1123px #FC4F4F,
		1922px 357px #FC4F4F,
		353px 1384px #FC4F4F,
		1718px 1626px #FC4F4F,
		186px 1938px #FC4F4F,
		1367px 1467px #FC4F4F,
		1466px 740px #FC4F4F,
		647px 1002px #FC4F4F,
		1923px 187px #FC4F4F,
		1998px 190px #FC4F4F,
		46px 1939px #FC4F4F,
		1126px 1851px #FC4F4F,
		1573px 58px #FC4F4F,
		1410px 1086px #FC4F4F,
		1399px 1971px #FC4F4F,
		728px 341px #FC4F4F,
		1667px 493px #FC4F4F,
		1212px 351px #FC4F4F,
		1848px 1340px #FC4F4F,
		63px 1543px #FC4F4F,
		621px 954px #FC4F4F,
		429px 316px #FC4F4F,
		1936px 1319px #FC4F4F,
		363px 603px #FC4F4F,
		73px 1531px #FC4F4F,
		1562px 618px #FC4F4F,
		586px 1560px #FC4F4F,
		1389px 99px #FC4F4F,
		1596px 1877px #FC4F4F,
		588px 1491px #FC4F4F,
		945px 1583px #FC4F4F,
		1648px 1646px #FC4F4F,
		28px 233px #FC4F4F,
		516px 1619px #FC4F4F,
		180px 1345px #FC4F4F,
		514px 1924px #FC4F4F,
		1888px 1758px #FC4F4F,
		1084px 1815px #FC4F4F,
		1233px 1891px #FC4F4F,
		168px 372px #FC4F4F,
		1604px 996px #FC4F4F,
		35px 728px #FC4F4F,
		911px 682px #FC4F4F,
		1083px 576px #FC4F4F,
		1494px 610px #FC4F4F,
		659px 869px #FC4F4F,
		1120px 291px #FC4F4F,
		140px 903px #FC4F4F,
		1499px 1146px #FC4F4F,
		234px 1531px #FC4F4F,
		1374px 988px #FC4F4F,
		1640px 506px #FC4F4F,
		21px 1375px #FC4F4F,
		1350px 1193px #FC4F4F,
		1053px 1281px #FC4F4F,
		1152px 169px #FC4F4F,
		1044px 2000px #FC4F4F,
		916px 1648px #FC4F4F,
		1580px 147px #FC4F4F,
		881px 674px #FC4F4F,
		1071px 1432px #FC4F4F,
		1706px 1270px #FC4F4F,
		1323px 1693px #FC4F4F,
		366px 363px #FC4F4F,
		289px 206px #FC4F4F,
		1291px 1350px #FC4F4F,
		11px 1652px #FC4F4F,
		545px 105px #FC4F4F,
		679px 142px #FC4F4F,
		56px 265px #FC4F4F,
		1472px 1969px #FC4F4F,
		860px 1471px #FC4F4F,
		500px 1939px #FC4F4F,
		1152px 1343px #FC4F4F,
		947px 1318px #FC4F4F,
		1841px 1007px #FC4F4F,
		1811px 1598px #FC4F4F,
		1785px 574px #FC4F4F,
		1704px 10px #FC4F4F,
		1949px 1780px #FC4F4F,
		361px 1695px #FC4F4F,
		85px 1855px #FC4F4F,
		698px 207px #FC4F4F,
		1247px 1513px #FC4F4F,
		892px 1667px #FC4F4F,
		1841px 1081px #FC4F4F,
		354px 389px #FC4F4F,
		156px 221px #FC4F4F,
		975px 1871px #FC4F4F,
		54px 112px #FC4F4F,
		38px 1428px #FC4F4F,
		1027px 1655px #FC4F4F,
		978px 524px #FC4F4F,
		811px 317px #FC4F4F,
		1775px 1098px #FC4F4F,
		1961px 90px #FC4F4F,
		610px 1429px #FC4F4F,
		293px 439px #FC4F4F,
		1171px 1034px #FC4F4F,
		1489px 1499px #FC4F4F,
		1776px 1319px #FC4F4F;
}
.rising-stars div:nth-child(2) {
	animation-duration: 150s !important;
	box-shadow:
		200px 15831px #FC4F4F,
		1634px 712px #FC4F4F,
		1887px 1010px #FC4F4F,
		1436px 1304px #FC4F4F,
		1694px 948px #FC4F4F,
		50px 440px #FC4F4F,
		971px 1383px #FC4F4F,
		1256px 1966px #FC4F4F,
		734px 675px #FC4F4F,
		969px 1017px #FC4F4F,
		1248px 5px #FC4F4F,
		1202px 1184px #FC4F4F,
		1185px 1141px #FC4F4F,
		1008px 586px #FC4F4F,
		890px 738px #FC4F4F,
		1671px 1625px #FC4F4F,
		1303px 772px #FC4F4F,
		1812px 1735px #FC4F4F,
		1628px 1572px #FC4F4F,
		1711px 161px #FC4F4F,
		200px 912px #FC4F4F,
		1849px 661px #FC4F4F,
		841px 1355px #FC4F4F,
		394px 1629px #FC4F4F,
		726px 892px #FC4F4F,
		498px 1072px #FC4F4F,
		764px 1857px #FC4F4F,
		1284px 1225px #FC4F4F,
		1640px 795px #FC4F4F,
		539px 350px #FC4F4F,
		1865px 1250px #FC4F4F,
		35px 1316px #FC4F4F,
		546px 1452px #FC4F4F,
		1368px 947px #FC4F4F,
		1675px 1926px #FC4F4F,
		55px 1883px #FC4F4F,
		1155px 719px #FC4F4F,
		625px 1374px #FC4F4F,
		269px 887px #FC4F4F,
		109px 446px #FC4F4F,
		1084px 82px #FC4F4F,
		891px 1702px #FC4F4F,
		1402px 551px #FC4F4F,
		1926px 494px #FC4F4F,
		754px 1193px #FC4F4F,
		834px 1637px #FC4F4F,
		255px 472px #FC4F4F,
		1398px 1932px #FC4F4F,
		1351px 209px #FC4F4F,
		1732px 251px #FC4F4F,
		1651px 239px #FC4F4F,
		1763px 1507px #FC4F4F,
		1484px 1465px #FC4F4F,
		1714px 862px #FC4F4F,
		911px 763px #FC4F4F,
		854px 750px #FC4F4F,
		1882px 1566px #FC4F4F,
		1244px 1809px #FC4F4F,
		689px 1857px #FC4F4F,
		1500px 1378px #FC4F4F,
		398px 1454px #FC4F4F,
		967px 1928px #FC4F4F,
		1678px 1211px #FC4F4F,
		1153px 664px #FC4F4F,
		1696px 1465px #FC4F4F,
		824px 1742px #FC4F4F,
		1045px 929px #FC4F4F,
		561px 351px #FC4F4F,
		385px 1527px #FC4F4F,
		1388px 1213px #FC4F4F,
		1091px 1795px #FC4F4F,
		1501px 1770px #FC4F4F,
		1646px 196px #FC4F4F,
		1623px 1749px #FC4F4F,
		1978px 1138px #FC4F4F,
		153px 704px #FC4F4F,
		1035px 856px #FC4F4F,
		202px 1722px #FC4F4F,
		710px 1875px #FC4F4F,
		574px 358px #FC4F4F,
		1958px 1452px #FC4F4F,
		1538px 740px #FC4F4F,
		1528px 1117px #FC4F4F,
		1797px 730px #FC4F4F,
		1814px 853px #FC4F4F,
		948px 490px #FC4F4F,
		1939px 1840px #FC4F4F,
		1338px 260px #FC4F4F,
		1239px 315px #FC4F4F,
		1054px 445px #FC4F4F,
		1069px 519px #FC4F4F,
		696px 1256px #FC4F4F,
		1691px 1462px #FC4F4F,
		669px 422px #FC4F4F,
		956px 840px #FC4F4F,
		1201px 1501px #FC4F4F,
		730px 1433px #FC4F4F,
		1875px 329px #FC4F4F,
		105px 368px #FC4F4F,
		1409px 595px #FC4F4F,
		458px 13px #FC4F4F,
		1791px 865px #FC4F4F,
		208px 1493px #FC4F4F,
		1675px 830px #FC4F4F,
		1630px 356px #FC4F4F,
		1093px 1581px #FC4F4F,
		803px 1444px #FC4F4F,
		480px 545px #FC4F4F,
		1624px 1276px #FC4F4F,
		1219px 840px #FC4F4F,
		95px 688px #FC4F4F,
		927px 1041px #FC4F4F,
		1975px 449px #FC4F4F,
		841px 1276px #FC4F4F,
		1101px 978px #FC4F4F,
		1226px 1047px #FC4F4F,
		35px 1232px #FC4F4F,
		1741px 1747px #FC4F4F,
		1575px 687px #FC4F4F,
		1636px 1683px #FC4F4F,
		1967px 1209px #FC4F4F,
		563px 981px #FC4F4F,
		181px 316px #FC4F4F,
		1327px 1821px #FC4F4F,
		522px 103px #FC4F4F,
		1238px 1468px #FC4F4F,
		907px 434px #FC4F4F,
		340px 1456px #FC4F4F,
		1818px 328px #FC4F4F,
		63px 845px #FC4F4F,
		112px 854px #FC4F4F,
		144px 1094px #FC4F4F,
		1103px 331px #FC4F4F,
		128px 1019px #FC4F4F,
		41px 1428px #FC4F4F,
		174px 574px #FC4F4F,
		1924px 742px #FC4F4F,
		223px 569px #FC4F4F,
		510px 1414px #FC4F4F,
		249px 1551px #FC4F4F,
		1231px 120px #FC4F4F,
		110px 98px #FC4F4F,
		1844px 1675px #FC4F4F,
		473px 1939px #FC4F4F,
		791px 530px #FC4F4F,
		53px 1412px #FC4F4F,
		1872px 542px #FC4F4F,
		381px 278px #FC4F4F,
		796px 1552px #FC4F4F,
		349px 1290px #FC4F4F,
		1124px 1660px #FC4F4F,
		1376px 42px #FC4F4F,
		1112px 1138px #FC4F4F,
		1174px 1356px #FC4F4F,
		1647px 1381px #FC4F4F,
		169px 1622px #FC4F4F,
		1568px 1463px #FC4F4F,
		972px 502px #FC4F4F,
		533px 591px #FC4F4F,
		1896px 1534px #FC4F4F,
		13px 200px #FC4F4F,
		848px 852px #FC4F4F,
		708px 721px #FC4F4F,
		1599px 719px #FC4F4F,
		1301px 104px #FC4F4F,
		477px 1967px #FC4F4F,
		56px 1247px #FC4F4F,
		1699px 657px #FC4F4F,
		742px 1687px #FC4F4F,
		712px 1745px #FC4F4F,
		1607px 1250px #FC4F4F,
		635px 458px #FC4F4F,
		813px 1005px #FC4F4F,
		1014px 378px #FC4F4F,
		754px 999px #FC4F4F,
		304px 1657px #FC4F4F,
		385px 377px #FC4F4F,
		240px 931px #FC4F4F,
		1426px 1277px #FC4F4F,
		158px 67px #FC4F4F,
		1408px 1404px #FC4F4F,
		1783px 687px #FC4F4F,
		1162px 74px #FC4F4F,
		178px 1139px #FC4F4F,
		1334px 6px #FC4F4F,
		1624px 1707px #FC4F4F,
		248px 1921px #FC4F4F,
		57px 494px #FC4F4F,
		1465px 497px #FC4F4F,
		485px 1053px #FC4F4F,
		1665px 341px #FC4F4F,
		1314px 1342px #FC4F4F,
		341px 1203px #FC4F4F,
		562px 541px #FC4F4F,
		1590px 1028px #FC4F4F,
		991px 775px #FC4F4F,
		1171px 1782px #FC4F4F,
		1833px 1888px #FC4F4F,
		829px 499px #FC4F4F,
		1765px 57px #FC4F4F,
		1715px 362px #FC4F4F,
		1174px 955px #FC4F4F,
		765px 1582px #FC4F4F,
		17px 1511px #FC4F4F,
		876px 22px #FC4F4F,
		742px 866px #FC4F4F,
		1703px 652px #FC4F4F,
		116px 294px #FC4F4F,
		1018px 329px #FC4F4F,
		955px 308px #FC4F4F,
		1428px 1117px #FC4F4F,
		1402px 1836px #FC4F4F,
		1424px 740px #FC4F4F,
		758px 1330px #FC4F4F,
		992px 1157px #FC4F4F,
		648px 1862px #FC4F4F,
		899px 1646px #FC4F4F,
		349px 897px #FC4F4F,
		1279px 1538px #FC4F4F,
		437px 1471px #FC4F4F,
		1932px 1370px #FC4F4F,
		1773px 1092px #FC4F4F,
		271px 1559px #FC4F4F,
		848px 77px #FC4F4F,
		478px 1587px #FC4F4F,
		639px 761px #FC4F4F,
		113px 1082px #FC4F4F,
		1099px 789px #FC4F4F,
		2px 115px #FC4F4F,
		1434px 1078px #FC4F4F,
		605px 598px #FC4F4F,
		1652px 575px #FC4F4F,
		365px 857px #FC4F4F,
		580px 916px #FC4F4F,
		1129px 779px #FC4F4F,
		94px 103px #FC4F4F,
		231px 959px #FC4F4F,
		1778px 692px #FC4F4F,
		1930px 843px #FC4F4F,
		1865px 1405px #FC4F4F,
		612px 122px #FC4F4F,
		35px 311px #FC4F4F,
		976px 1625px #FC4F4F,
		1717px 1713px #FC4F4F,
		1556px 920px #FC4F4F,
		1438px 459px #FC4F4F,
		360px 339px #FC4F4F,
		1425px 841px #FC4F4F,
		742px 393px #FC4F4F,
		134px 1151px #FC4F4F,
		803px 1290px #FC4F4F,
		133px 20px #FC4F4F,
		1250px 1503px #FC4F4F,
		781px 498px #FC4F4F,
		1204px 261px #FC4F4F,
		1917px 230px #FC4F4F,
		53px 1756px #FC4F4F,
		1509px 944px #FC4F4F,
		971px 61px #FC4F4F,
		751px 1274px #FC4F4F,
		1393px 1231px #FC4F4F,
		1697px 1932px #FC4F4F,
		750px 314px #FC4F4F,
		1322px 485px #FC4F4F,
		716px 1675px #FC4F4F,
		1834px 1521px #FC4F4F,
		1035px 344px #FC4F4F,
		1771px 1036px #FC4F4F,
		1474px 324px #FC4F4F,
		213px 68px #FC4F4F,
		1597px 68px #FC4F4F,
		1059px 1092px #FC4F4F,
		821px 1910px #FC4F4F,
		1247px 137px #FC4F4F,
		1488px 1486px #FC4F4F,
		1373px 1665px #FC4F4F,
		1601px 925px #FC4F4F,
		515px 1611px #FC4F4F,
		467px 485px #FC4F4F,
		1245px 1168px #FC4F4F,
		178px 537px #FC4F4F,
		7px 614px #FC4F4F,
		733px 1086px #FC4F4F,
		701px 1349px #FC4F4F,
		49px 916px #FC4F4F,
		1255px 280px #FC4F4F,
		1115px 721px #FC4F4F,
		636px 1138px #FC4F4F,
		515px 588px #FC4F4F,
		1862px 1750px #FC4F4F,
		1000px 837px #FC4F4F,
		138px 1311px #FC4F4F,
		1784px 1425px #FC4F4F,
		339px 115px #FC4F4F,
		785px 1158px #FC4F4F,
		1455px 1544px #FC4F4F,
		708px 1277px #FC4F4F,
		847px 1860px #FC4F4F,
		519px 364px #FC4F4F,
		10px 1185px #FC4F4F,
		1314px 1850px #FC4F4F,
		1996px 1398px #FC4F4F,
		1626px 459px #FC4F4F,
		704px 1860px #FC4F4F,
		751px 699px #FC4F4F,
		621px 536px #FC4F4F,
		669px 1422px #FC4F4F,
		1036px 795px #FC4F4F,
		1685px 1915px #FC4F4F,
		1662px 1809px #FC4F4F,
		1053px 158px #FC4F4F,
		1768px 1976px #FC4F4F,
		566px 115px #FC4F4F,
		756px 963px #FC4F4F,
		16px 695px #FC4F4F,
		1074px 303px #FC4F4F,
		705px 385px #FC4F4F,
		530px 985px #FC4F4F,
		873px 1962px #FC4F4F,
		1722px 1295px #FC4F4F,
		1176px 1746px #FC4F4F,
		1691px 1799px #FC4F4F,
		704px 1508px #FC4F4F,
		79px 1825px #FC4F4F,
		1268px 790px #FC4F4F,
		382px 1669px #FC4F4F,
		334px 721px #FC4F4F,
		1449px 389px #FC4F4F,
		1009px 422px #FC4F4F,
		603px 102px #FC4F4F,
		468px 1310px #FC4F4F,
		1455px 1547px #FC4F4F,
		22px 1108px #FC4F4F,
		852px 457px #FC4F4F,
		744px 1311px #FC4F4F,
		107px 71px #FC4F4F,
		842px 106px #FC4F4F,
		942px 404px #FC4F4F,
		1374px 220px #FC4F4F,
		1014px 917px #FC4F4F,
		1576px 1273px #FC4F4F,
		794px 217px #FC4F4F,
		995px 1771px #FC4F4F,
		1900px 1682px #FC4F4F,
		121px 1825px #FC4F4F,
		1420px 76px #FC4F4F,
		1295px 1704px #FC4F4F,
		1290px 976px #FC4F4F,
		834px 194px #FC4F4F,
		1351px 11px #FC4F4F,
		1737px 1482px #FC4F4F,
		1518px 542px #FC4F4F,
		1374px 615px #FC4F4F,
		808px 552px #FC4F4F,
		800px 1656px #FC4F4F,
		1290px 806px #FC4F4F,
		216px 1279px #FC4F4F,
		406px 499px #FC4F4F,
		13px 779px #FC4F4F,
		285px 1826px #FC4F4F,
		342px 558px #FC4F4F,
		1619px 914px #FC4F4F,
		1014px 1262px #FC4F4F,
		412px 487px #FC4F4F,
		1324px 1868px #FC4F4F,
		1863px 421px #FC4F4F,
		235px 810px #FC4F4F,
		1634px 1115px #FC4F4F,
		205px 101px #FC4F4F,
		271px 133px #FC4F4F,
		1706px 1729px #FC4F4F,
		1024px 9px #FC4F4F,
		696px 731px #FC4F4F,
		270px 1312px #FC4F4F,
		1076px 1409px #FC4F4F,
		19px 716px #FC4F4F,
		65px 1201px #FC4F4F,
		870px 1481px #FC4F4F,
		508px 566px #FC4F4F,
		1561px 736px #FC4F4F,
		1767px 1040px #FC4F4F,
		449px 1778px #FC4F4F,
		1238px 1900px #FC4F4F,
		872px 1105px #FC4F4F,
		1108px 327px #FC4F4F,
		1491px 1118px #FC4F4F,
		638px 1620px #FC4F4F,
		665px 1173px #FC4F4F,
		350px 1194px #FC4F4F,
		748px 1659px #FC4F4F,
		973px 616px #FC4F4F,
		689px 1457px #FC4F4F,
		474px 1162px #FC4F4F,
		667px 1523px #FC4F4F,
		1411px 1653px #FC4F4F,
		161px 1728px #FC4F4F,
		1005px 301px #FC4F4F,
		1281px 100px #FC4F4F,
		1867px 1158px #FC4F4F,
		673px 543px #FC4F4F,
		880px 1504px #FC4F4F,
		958px 1414px #FC4F4F,
		509px 1949px #FC4F4F,
		1900px 580px #FC4F4F,
		1418px 225px #FC4F4F,
		1108px 354px #FC4F4F,
		1186px 1447px #FC4F4F,
		454px 1498px #FC4F4F,
		985px 920px #FC4F4F,
		1977px 1238px #FC4F4F,
		848px 1948px #FC4F4F,
		1065px 1741px #FC4F4F,
		1237px 902px #FC4F4F,
		626px 687px #FC4F4F,
		1372px 585px #FC4F4F,
		128px 652px #FC4F4F,
		1394px 1060px #FC4F4F,
		669px 1082px #FC4F4F,
		31px 477px #FC4F4F,
		867px 304px #FC4F4F,
		1533px 401px #FC4F4F,
		1657px 1947px #FC4F4F,
		1041px 1999px #FC4F4F,
		670px 776px #FC4F4F,
		1077px 176px #FC4F4F,
		1677px 87px #FC4F4F,
		504px 1052px #FC4F4F,
		1697px 1544px #FC4F4F,
		270px 685px #FC4F4F,
		1247px 417px #FC4F4F,
		271px 1757px #FC4F4F,
		1003px 1462px #FC4F4F,
		34px 368px #FC4F4F,
		1224px 1123px #FC4F4F,
		958px 1674px #FC4F4F,
		1491px 815px #FC4F4F,
		1037px 1519px #FC4F4F,
		181px 1793px #FC4F4F,
		1714px 1026px #FC4F4F,
		479px 603px #FC4F4F,
		801px 247px #FC4F4F,
		1883px 1676px #FC4F4F,
		254px 940px #FC4F4F,
		1131px 1628px #FC4F4F,
		1763px 1811px #FC4F4F,
		1762px 1260px #FC4F4F,
		965px 479px #FC4F4F,
		1938px 1777px #FC4F4F,
		1451px 380px #FC4F4F,
		650px 687px #FC4F4F,
		1921px 1600px #FC4F4F,
		1965px 1945px #FC4F4F,
		677px 1936px #FC4F4F,
		1495px 1230px #FC4F4F,
		337px 722px #FC4F4F,
		1456px 389px #FC4F4F,
		979px 1696px #FC4F4F,
		1967px 12px #FC4F4F,
		1225px 453px #FC4F4F,
		271px 1832px #FC4F4F,
		375px 1178px #FC4F4F,
		201px 735px #FC4F4F,
		135px 954px #FC4F4F,
		1844px 1631px #FC4F4F,
		575px 1452px #FC4F4F,
		893px 1416px #FC4F4F,
		619px 173px #FC4F4F,
		996px 1677px #FC4F4F,
		486px 323px #FC4F4F,
		783px 303px #FC4F4F,
		843px 826px #FC4F4F,
		1739px 287px #FC4F4F,
		742px 1224px #FC4F4F,
		1983px 836px #FC4F4F,
		1041px 1590px #FC4F4F,
		1940px 282px #FC4F4F,
		700px 1575px #FC4F4F,
		261px 104px #FC4F4F,
		90px 1130px #FC4F4F,
		1142px 842px #FC4F4F,
		1146px 1394px #FC4F4F,
		492px 147px #FC4F4F,
		1305px 182px #FC4F4F,
		665px 548px #FC4F4F,
		133px 1196px #FC4F4F,
		1528px 450px #FC4F4F,
		1665px 1596px #FC4F4F,
		234px 1547px #FC4F4F,
		1473px 858px #FC4F4F,
		52px 269px #FC4F4F,
		10px 258px #FC4F4F,
		1058px 307px #FC4F4F,
		766px 384px #FC4F4F,
		828px 650px #FC4F4F,
		1607px 732px #FC4F4F,
		603px 418px #FC4F4F,
		1601px 136px #FC4F4F,
		1001px 1763px #FC4F4F,
		1590px 1117px #FC4F4F,
		169px 1819px #FC4F4F;
	opacity: 0.5;
}
.rising-stars div:nth-child(3) {
	animation-duration: 200s !important;
	box-shadow:
		279px 11129px #FC4F4F,
		1757px 1952px #FC4F4F,
		791px 785px #FC4F4F,
		565px 1050px #FC4F4F,
		25px 456px #FC4F4F,
		168px 728px #FC4F4F,
		1322px 1224px #FC4F4F,
		1599px 931px #FC4F4F,
		1272px 890px #FC4F4F,
		1978px 565px #FC4F4F,
		1480px 1734px #FC4F4F,
		577px 1530px #FC4F4F,
		118px 1735px #FC4F4F,
		590px 856px #FC4F4F,
		838px 1267px #FC4F4F,
		891px 1353px #FC4F4F,
		1045px 1962px #FC4F4F,
		250px 35px #FC4F4F,
		1453px 822px #FC4F4F,
		1845px 1056px #FC4F4F,
		228px 1513px #FC4F4F,
		1360px 1261px #FC4F4F,
		511px 553px #FC4F4F,
		915px 1096px #FC4F4F,
		714px 101px #FC4F4F,
		613px 316px #FC4F4F,
		1377px 639px #FC4F4F,
		301px 1328px #FC4F4F,
		84px 1933px #FC4F4F,
		296px 986px #FC4F4F,
		1027px 790px #FC4F4F,
		772px 575px #FC4F4F,
		1017px 134px #FC4F4F,
		1287px 1787px #FC4F4F,
		480px 1554px #FC4F4F,
		122px 1536px #FC4F4F,
		99px 1470px #FC4F4F,
		79px 1770px #FC4F4F,
		596px 487px #FC4F4F,
		742px 304px #FC4F4F,
		1486px 1530px #FC4F4F,
		1432px 1506px #FC4F4F,
		1957px 1743px #FC4F4F,
		1549px 1169px #FC4F4F,
		442px 1322px #FC4F4F,
		621px 536px #FC4F4F,
		1737px 715px #FC4F4F,
		1645px 1925px #FC4F4F,
		1782px 1983px #FC4F4F,
		938px 1879px #FC4F4F,
		1126px 136px #FC4F4F,
		64px 1603px #FC4F4F,
		556px 839px #FC4F4F,
		355px 198px #FC4F4F,
		703px 1228px #FC4F4F,
		1275px 1755px #FC4F4F,
		1213px 1762px #FC4F4F,
		113px 1210px #FC4F4F,
		1319px 648px #FC4F4F,
		980px 1177px #FC4F4F,
		1474px 1088px #FC4F4F,
		1674px 532px #FC4F4F,
		478px 642px #FC4F4F,
		436px 922px #FC4F4F,
		829px 1284px #FC4F4F,
		470px 1160px #FC4F4F,
		1663px 1752px #FC4F4F,
		1371px 1598px #FC4F4F,
		1752px 1207px #FC4F4F,
		374px 494px #FC4F4F,
		292px 1396px #FC4F4F,
		857px 1992px #FC4F4F,
		1538px 1608px #FC4F4F,
		10px 771px #FC4F4F,
		1161px 396px #FC4F4F,
		1727px 271px #FC4F4F,
		1609px 1834px #FC4F4F,
		1086px 360px #FC4F4F,
		1985px 788px #FC4F4F,
		1156px 603px #FC4F4F,
		643px 17px #FC4F4F,
		1104px 1392px #FC4F4F,
		1663px 783px #FC4F4F,
		1515px 327px #FC4F4F,
		864px 1480px #FC4F4F,
		575px 675px #FC4F4F,
		1572px 831px #FC4F4F,
		386px 86px #FC4F4F,
		229px 221px #FC4F4F,
		635px 242px #FC4F4F,
		73px 712px #FC4F4F,
		358px 418px #FC4F4F,
		1593px 1523px #FC4F4F,
		1663px 459px #FC4F4F,
		696px 107px #FC4F4F,
		1367px 1981px #FC4F4F,
		165px 1270px #FC4F4F,
		1674px 124px #FC4F4F,
		226px 1939px #FC4F4F,
		1042px 121px #FC4F4F,
		679px 1939px #FC4F4F,
		1223px 182px #FC4F4F,
		1953px 1273px #FC4F4F,
		721px 673px #FC4F4F,
		863px 1845px #FC4F4F,
		1090px 1516px #FC4F4F,
		1369px 72px #FC4F4F,
		730px 1151px #FC4F4F,
		991px 1077px #FC4F4F,
		1749px 1944px #FC4F4F,
		1813px 1420px #FC4F4F,
		398px 1048px #FC4F4F,
		411px 1200px #FC4F4F,
		1319px 198px #FC4F4F,
		1887px 1152px #FC4F4F,
		329px 1745px #FC4F4F,
		650px 135px #FC4F4F,
		1656px 746px #FC4F4F,
		923px 1264px #FC4F4F,
		259px 15px #FC4F4F,
		553px 265px #FC4F4F,
		693px 13px #FC4F4F,
		1307px 585px #FC4F4F,
		291px 888px #FC4F4F,
		165px 1326px #FC4F4F,
		432px 1668px #FC4F4F,
		613px 1999px #FC4F4F,
		1px 462px #FC4F4F,
		1853px 676px #FC4F4F,
		1586px 121px #FC4F4F,
		118px 562px #FC4F4F,
		716px 633px #FC4F4F,
		1467px 945px #FC4F4F,
		1121px 1037px #FC4F4F,
		96px 1667px #FC4F4F,
		565px 731px #FC4F4F,
		1447px 1956px #FC4F4F,
		340px 1751px #FC4F4F,
		1227px 1282px #FC4F4F,
		704px 451px #FC4F4F,
		769px 1093px #FC4F4F,
		1745px 597px #FC4F4F,
		1645px 1076px #FC4F4F,
		246px 1673px #FC4F4F,
		826px 1790px #FC4F4F,
		1554px 1640px #FC4F4F,
		861px 1870px #FC4F4F,
		375px 1328px #FC4F4F,
		1971px 1306px #FC4F4F,
		844px 1451px #FC4F4F,
		433px 278px #FC4F4F,
		1032px 1837px #FC4F4F,
		1164px 291px #FC4F4F,
		1815px 768px #FC4F4F,
		1506px 247px #FC4F4F,
		324px 1818px #FC4F4F,
		1925px 606px #FC4F4F,
		1712px 1039px #FC4F4F,
		706px 892px #FC4F4F,
		1706px 1117px #FC4F4F,
		500px 1526px #FC4F4F,
		862px 1949px #FC4F4F,
		1546px 150px #FC4F4F,
		1840px 1355px #FC4F4F,
		1103px 707px #FC4F4F,
		1491px 1579px #FC4F4F,
		403px 1568px #FC4F4F,
		1493px 1067px #FC4F4F,
		1999px 580px #FC4F4F,
		1033px 1524px #FC4F4F,
		1993px 1029px #FC4F4F,
		1634px 1211px #FC4F4F,
		1907px 634px #FC4F4F,
		852px 1204px #FC4F4F,
		1232px 1534px #FC4F4F,
		901px 1386px #FC4F4F,
		1280px 1359px #FC4F4F,
		1498px 1595px #FC4F4F,
		1687px 1995px #FC4F4F,
		240px 1444px #FC4F4F,
		198px 55px #FC4F4F,
		209px 1265px #FC4F4F,
		1717px 1420px #FC4F4F,
		544px 1037px #FC4F4F,
		252px 1208px #FC4F4F,
		465px 583px #FC4F4F,
		1441px 617px #FC4F4F,
		1883px 600px #FC4F4F,
		1617px 759px #FC4F4F,
		1587px 1764px #FC4F4F,
		1458px 164px #FC4F4F,
		1908px 1675px #FC4F4F,
		1754px 298px #FC4F4F,
		367px 145px #FC4F4F,
		1516px 407px #FC4F4F,
		1178px 1019px #FC4F4F,
		844px 608px #FC4F4F,
		296px 1831px #FC4F4F,
		1961px 1376px #FC4F4F,
		1296px 1633px #FC4F4F,
		323px 1945px #FC4F4F,
		907px 490px #FC4F4F,
		1735px 449px #FC4F4F,
		1548px 1381px #FC4F4F,
		776px 1410px #FC4F4F,
		1347px 810px #FC4F4F,
		595px 1996px #FC4F4F,
		136px 42px #FC4F4F,
		1312px 859px #FC4F4F,
		488px 1263px #FC4F4F,
		1873px 336px #FC4F4F,
		1132px 1079px #FC4F4F,
		802px 809px #FC4F4F,
		847px 1493px #FC4F4F,
		1175px 1058px #FC4F4F,
		553px 1921px #FC4F4F,
		1758px 1095px #FC4F4F,
		452px 745px #FC4F4F,
		774px 681px #FC4F4F,
		1514px 913px #FC4F4F,
		1650px 446px #FC4F4F,
		146px 83px #FC4F4F,
		703px 343px #FC4F4F,
		1766px 1752px #FC4F4F,
		1970px 1195px #FC4F4F,
		1424px 1763px #FC4F4F,
		493px 1983px #FC4F4F,
		284px 1087px #FC4F4F,
		1634px 794px #FC4F4F,
		773px 1809px #FC4F4F,
		1310px 1749px #FC4F4F,
		936px 1808px #FC4F4F,
		49px 289px #FC4F4F,
		938px 152px #FC4F4F,
		410px 1721px #FC4F4F,
		1677px 60px #FC4F4F,
		1851px 1607px #FC4F4F,
		27px 539px #FC4F4F,
		1238px 515px #FC4F4F,
		230px 1652px #FC4F4F,
		1745px 939px #FC4F4F,
		1189px 1993px #FC4F4F,
		563px 1356px #FC4F4F,
		899px 1261px #FC4F4F,
		1814px 50px #FC4F4F,
		275px 1473px #FC4F4F,
		1379px 852px #FC4F4F,
		1080px 827px #FC4F4F,
		1428px 1198px #FC4F4F,
		1119px 1121px #FC4F4F,
		453px 1887px #FC4F4F,
		773px 1813px #FC4F4F,
		1608px 728px #FC4F4F,
		554px 369px #FC4F4F,
		522px 1159px #FC4F4F,
		1131px 1903px #FC4F4F,
		1044px 1434px #FC4F4F,
		916px 1021px #FC4F4F,
		1216px 636px #FC4F4F,
		969px 288px #FC4F4F,
		1881px 412px #FC4F4F,
		741px 1468px #FC4F4F,
		103px 1975px #FC4F4F,
		678px 987px #FC4F4F,
		1055px 1488px #FC4F4F,
		1823px 395px #FC4F4F,
		1988px 1637px #FC4F4F,
		564px 747px #FC4F4F,
		89px 896px #FC4F4F,
		255px 1985px #FC4F4F,
		569px 1873px #FC4F4F,
		707px 1816px #FC4F4F,
		19px 781px #FC4F4F,
		386px 1675px #FC4F4F,
		81px 725px #FC4F4F,
		1139px 1326px #FC4F4F,
		74px 914px #FC4F4F,
		493px 1257px #FC4F4F,
		325px 1797px #FC4F4F,
		422px 398px #FC4F4F,
		1800px 338px #FC4F4F,
		259px 813px #FC4F4F,
		1972px 536px #FC4F4F,
		488px 1949px #FC4F4F,
		71px 1349px #FC4F4F,
		1569px 595px #FC4F4F,
		352px 332px #FC4F4F,
		1266px 526px #FC4F4F,
		1904px 1083px #FC4F4F,
		1888px 1941px #FC4F4F,
		38px 1162px #FC4F4F,
		1616px 1640px #FC4F4F,
		415px 193px #FC4F4F,
		1728px 496px #FC4F4F,
		1080px 1396px #FC4F4F,
		738px 792px #FC4F4F,
		215px 407px #FC4F4F,
		989px 847px #FC4F4F,
		1779px 1693px #FC4F4F,
		1607px 115px #FC4F4F,
		648px 1503px #FC4F4F,
		643px 1587px #FC4F4F,
		1012px 1613px #FC4F4F,
		290px 152px #FC4F4F,
		133px 491px #FC4F4F,
		904px 1657px #FC4F4F,
		269px 419px #FC4F4F,
		807px 1723px #FC4F4F,
		132px 227px #FC4F4F,
		602px 1267px #FC4F4F,
		1653px 937px #FC4F4F,
		1872px 130px #FC4F4F,
		1584px 583px #FC4F4F,
		1420px 1224px #FC4F4F,
		1152px 440px #FC4F4F,
		22px 234px #FC4F4F,
		566px 1589px #FC4F4F,
		1147px 1421px #FC4F4F,
		326px 1520px #FC4F4F,
		321px 1058px #FC4F4F,
		752px 210px #FC4F4F,
		1696px 863px #FC4F4F,
		1202px 1266px #FC4F4F,
		150px 95px #FC4F4F,
		321px 1823px #FC4F4F,
		1275px 478px #FC4F4F,
		1415px 787px #FC4F4F,
		1956px 1477px #FC4F4F,
		513px 1494px #FC4F4F,
		1638px 1790px #FC4F4F,
		1213px 1914px #FC4F4F,
		1130px 1499px #FC4F4F,
		13px 1413px #FC4F4F,
		265px 1621px #FC4F4F,
		836px 1637px #FC4F4F,
		925px 345px #FC4F4F,
		356px 703px #FC4F4F,
		737px 786px #FC4F4F,
		1032px 759px #FC4F4F,
		1559px 639px #FC4F4F,
		1214px 1871px #FC4F4F,
		1495px 713px #FC4F4F,
		880px 621px #FC4F4F,
		1157px 326px #FC4F4F,
		1432px 1465px #FC4F4F,
		1031px 1082px #FC4F4F,
		1882px 869px #FC4F4F,
		1908px 1365px #FC4F4F,
		593px 347px #FC4F4F,
		1603px 1279px #FC4F4F,
		856px 1837px #FC4F4F,
		1575px 1745px #FC4F4F,
		347px 283px #FC4F4F,
		1748px 1308px #FC4F4F,
		988px 537px #FC4F4F,
		1483px 644px #FC4F4F,
		982px 663px #FC4F4F,
		1295px 1298px #FC4F4F,
		396px 996px #FC4F4F,
		1182px 1980px #FC4F4F,
		413px 1290px #FC4F4F,
		45px 220px #FC4F4F,
		1669px 841px #FC4F4F,
		1414px 1862px #FC4F4F,
		58px 180px #FC4F4F,
		964px 1267px #FC4F4F,
		1291px 1425px #FC4F4F,
		969px 1678px #FC4F4F,
		298px 1416px #FC4F4F,
		26px 1118px #FC4F4F,
		1963px 1198px #FC4F4F,
		1119px 284px #FC4F4F,
		23px 1182px #FC4F4F,
		29px 398px #FC4F4F,
		997px 1870px #FC4F4F,
		233px 1555px #FC4F4F,
		441px 584px #FC4F4F,
		1285px 1817px #FC4F4F,
		471px 1459px #FC4F4F,
		500px 816px #FC4F4F,
		61px 1361px #FC4F4F,
		724px 998px #FC4F4F,
		1040px 1274px #FC4F4F,
		169px 1216px #FC4F4F,
		1040px 687px #FC4F4F,
		571px 1469px #FC4F4F,
		1634px 960px #FC4F4F,
		1477px 189px #FC4F4F,
		1738px 1048px #FC4F4F,
		1447px 972px #FC4F4F,
		1436px 1482px #FC4F4F,
		1217px 1482px #FC4F4F,
		1565px 1408px #FC4F4F,
		157px 1982px #FC4F4F,
		1335px 556px #FC4F4F,
		1519px 1612px #FC4F4F,
		532px 1853px #FC4F4F,
		922px 598px #FC4F4F,
		1055px 1318px #FC4F4F,
		1289px 1897px #FC4F4F,
		833px 444px #FC4F4F,
		266px 375px #FC4F4F,
		662px 935px #FC4F4F,
		1916px 895px #FC4F4F,
		816px 1243px #FC4F4F,
		634px 1892px #FC4F4F,
		1775px 42px #FC4F4F,
		1954px 1987px #FC4F4F,
		1361px 50px #FC4F4F,
		468px 1940px #FC4F4F,
		138px 75px #FC4F4F,
		89px 388px #FC4F4F,
		1682px 517px #FC4F4F,
		1285px 318px #FC4F4F,
		1208px 199px #FC4F4F,
		323px 1161px #FC4F4F,
		1750px 1775px #FC4F4F,
		1269px 1334px #FC4F4F,
		16px 1075px #FC4F4F,
		1963px 192px #FC4F4F,
		1755px 93px #FC4F4F,
		1254px 1726px #FC4F4F,
		167px 531px #FC4F4F,
		537px 847px #FC4F4F,
		988px 161px #FC4F4F,
		1850px 1165px #FC4F4F,
		245px 1283px #FC4F4F,
		1309px 601px #FC4F4F,
		1490px 647px #FC4F4F,
		953px 1871px #FC4F4F,
		467px 1433px #FC4F4F,
		295px 1592px #FC4F4F,
		782px 1088px #FC4F4F,
		1689px 426px #FC4F4F,
		383px 897px #FC4F4F,
		72px 1796px #FC4F4F,
		1504px 1437px #FC4F4F,
		179px 243px #FC4F4F,
		1727px 1238px #FC4F4F,
		576px 1749px #FC4F4F,
		1626px 1945px #FC4F4F,
		1639px 1210px #FC4F4F,
		1125px 184px #FC4F4F,
		1390px 723px #FC4F4F,
		882px 212px #FC4F4F,
		1319px 1841px #FC4F4F,
		1918px 116px #FC4F4F,
		308px 728px #FC4F4F,
		111px 1805px #FC4F4F,
		349px 1724px #FC4F4F,
		356px 1155px #FC4F4F,
		13px 1695px #FC4F4F,
		369px 1946px #FC4F4F,
		719px 752px #FC4F4F,
		697px 1479px #FC4F4F,
		116px 607px #FC4F4F,
		1331px 1143px #FC4F4F,
		1630px 396px #FC4F4F,
		813px 1089px #FC4F4F,
		1788px 1493px #FC4F4F,
		116px 554px #FC4F4F,
		397px 1202px #FC4F4F,
		1521px 749px #FC4F4F,
		1783px 1392px #FC4F4F,
		151px 1482px #FC4F4F,
		837px 270px #FC4F4F,
		1006px 588px #FC4F4F,
		218px 1228px #FC4F4F,
		1992px 469px #FC4F4F,
		1974px 294px #FC4F4F,
		128px 1638px #FC4F4F,
		268px 1162px #FC4F4F,
		912px 513px #FC4F4F,
		1785px 1367px #FC4F4F,
		1511px 73px #FC4F4F,
		192px 844px #FC4F4F,
		1592px 195px #FC4F4F,
		1798px 9px #FC4F4F,
		515px 907px #FC4F4F,
		22px 949px #FC4F4F,
		1208px 770px #FC4F4F,
		338px 1257px #FC4F4F,
		1673px 1025px #FC4F4F,
		862px 1062px #FC4F4F,
		828px 560px #FC4F4F,
		1256px 29px #FC4F4F,
		107px 1734px #FC4F4F,
		67px 1059px #FC4F4F,
		1146px 1191px #FC4F4F,
		1712px 1440px #FC4F4F,
		1674px 271px #FC4F4F,
		1361px 1372px #FC4F4F,
		318px 1797px #FC4F4F,
		1039px 1572px #FC4F4F,
		1890px 1905px #FC4F4F,
		1423px 710px #FC4F4F,
		1371px 240px #FC4F4F,
		559px 1252px #FC4F4F,
		911px 1708px #FC4F4F,
		896px 479px #FC4F4F;
	opacity: 0.3;
}
.rising-stars div {
	background: transparent;
	border-radius: 50%;

	animation: risingStarsAnination linear infinite;
}

@keyframes risingStarsAnination {
	0% {
	  transform:translateZ(0) translateY(0)
	}
	to {
	  transform:translateZ(0) translateY(-2000px)
	}
  }
